<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width" initial-scale = 1>
    <!--bootstrap5 --><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--bootstrap5 --><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--bootstrap5 icons --><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style type="text/css">
    .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
body, html {
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,sans-serif;
}
.btn1 {
  border: 2px solid black;
  color: black;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.validate-input {
    position: relative;
}
.wrap-input100 {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 13px;
    padding: 10px 30px 9px 22px;
    margin-bottom: 20px;
}
.bg1 {
    background-color: #f7f7f7;
}
.label-input100 {
    
    font-weight: bold;
    font-size: 13px;
    color: #393939;
    line-height: 1.5;
    text-transform: uppercase;
}
.input100 {
    display: block;
    width: 100%;
    background: 0 0;
    
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    padding-right: 15px;
    outline: none;
    border: none;
}
input {
    outline: none;
    /*border: none;*/
}
img{
    height:  100px;
    width: 150px;
   /* border: 2px blue dotted;*/
}


.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.1) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  
  font-size: 14px;
  justify-content: center;
  line-height: 0.3em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 15px;
    min-width: 100px;
  }
}
.button-85 {
              padding: 0.6em 2em;
              border: none;
              outline: none;
              color: darkblue;
              font-weight: 550;
              background: #111;
              cursor: pointer;
              position: relative;
              z-index: 0;
              border-radius: 10px;
              user-select: none;
              -webkit-user-select: none;
              touch-action: manipulation;
            }

            .button-85:before {
              content: "";
              background: linear-gradient(
                45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000
              );
              position: absolute;
              top: -2px;
              left: -2px;
              background-size: 400%;
              z-index: -1;
              filter: blur(5px);
              -webkit-filter: blur(5px);
              width: calc(100% + 4px);
              height: calc(100% + 4px);
              animation: glowing-button-85 20s linear infinite;
              transition: opacity 0.3s ease-in-out;
              border-radius: 10px;
            }

            @keyframes glowing-button-85 {
              0% {
                background-position: 0 0;
              }
              50% {
                background-position: 400% 0;
              }
              100% {
                background-position: 0 0;
              }
            }

            .button-85:after {
              z-index: -1;
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background: whitesmoke;
              left: 0;
              top: 0;
              border-radius: 10px;
            }
            a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}

</style>

</head>
<body>
	<!-- <div class="container mt-3" style="box-shadow: 0 2px 10px rgba(0,0,0,0.3); height: 1000px;width: 1000px;" align="text-center"> -->
        <div class="container mt-3" align="text-center">
		<div class="container" style="width: 1000px;height: 400px;">
				<ul class="nav nav-tabs nav-justified">
							<li class="nav-item">
								<a class="nav-link active primary" data-bs-toggle = "tab" href="#upload" ><b>Upload</b></a>
							</li>
							<li class="nav-item">
								<a class="nav-link mb-3 primary" data-bs-toggle = "tab" href="#view" ><b>View</b></a>
							</li>
				</ul>
				<div class="tab-content">
							<div class="tab-pane container active" id = "upload"><br>
								<form class="bgform" id="form1">
                                    <input type="hidden" name="facid1" value="<%=facid%>"id="facid1">
                                    <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">CERTIFICATE NAME *</span>
                                    <input class="input100" type="text"placeholder="Enter the name of the certificate" name="cname" id="cname" required="required">
                                    </div>
                                    <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">BESTOWING INSTITUTION *</span>
                                    <input class="input100" type="text"placeholder="Enter the bestowing institution" name="cinst" id="cinst" required>
                                    </div>
                                    <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">EVENT*</span><br>
                                    <select name="event" id="event" required>
                                            <option value="FDP">FDP</option>
                                            <option value="Short Term Course">Short Term Course</option>
                                            <option value="Webinar">Webinar</option>
                                            <option value="Online course">Online course</option>
                                            <option value="Paper Presentation">Paper Presentation</option>
                                            <option value="Bootcamp">Bootcamp</option>
                                            <option value="Workshop">Workshop</option>
                                            <option value="Conference">Conference</option>
                                        </select>
                                    </div>
                                    <div class= "row">
                                    <div class="col-md-6">
                                        <div class="wrap-input100 validate-input bg1">
                                        <span class="label-input100">START DATE*</span>
                                        <input type="date" class="input100"style="height: 30px;width: 200px;" name="start" id="start" required>
                                        </div>
                                    </div>
                                     <div  class="col-md-6">
                                    	<div class="wrap-input100 validate-input bg1">
                                        <span class="label-input100">END DATE*</span>
                                        <input type="date" class="input100"style="height: 30px;width: 200px;" name="end" id="end" required>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">CERTIFICATE ID*</span>
                                    <input class="input100" type="text"placeholder="Enter the ID of the certificate" name="cid" id="cid" required>
                                    </div>
                                    <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">CERTIFICATE URL</span>
                                    <input class="input100" type="url"placeholder="Enter the URL of the certificate" name="curl" id="curl">
                                    </div>
                                    <div class="wrap-input100 validate-input bg1">
                                    <span class="label-input100">DESCRIPTION*</span>
                                    <textarea class="input100" placeholder="Enter the description" rows="5" cols="100" name="descr" id="descr"required></textarea>
                                    
                                    </div>
								     <!-- <button type="submit" class="btn btn-success btn-lg" style="margin-left:300px" >Submit</button> -->
                                     
								</form>
                                <input type="text" id="namebox" hidden="hidden"><label id="extlab"></label>
                                     <button  id="selbtn" class="button-63" >Select a file</button>&nbsp;&nbsp;&nbsp;&nbsp;<img id="myimg" ><label id="upprogress"></label>
                                       <br><br> <center><button id="upbtn" type="submit" class="button-85 btn-block">Upload</button><center>

                            </div>
                             <div class="tab-pane container" id = "view"><br>
                                <div class="container mt-3">
                                    <table  class="table table-striped" style="border:1px solid black">
                                        <thead align="center" >
                                            <th>Sno:</th>
                                        <th>Certificate Details</th>
                                        <th>Description</th>
                                        <th>Certificate</th>
                                    </thead>
                                    <tbody id ="tbody1" align="center"></tbody>
                                    </table>
                                </div>
                            </div><!--2tab pane-->
                        </div><!--tab content-->
                    </div><!--inner container-->
                </div><!--outer container-->
                <script type="module">
                import { initializeApp } from "https://www.gstatic.com/firebasejs/9.13.0/firebase-app.js";
                const firebaseConfig = {
                apiKey: "AIzaSyBhxPZMVpzSuE3sxrqLGhtd6fuJSLtkv04",
                authDomain: "certifyu-3c613.firebaseapp.com",
                projectId: "certifyu-3c613",
                storageBucket: "certifyu-3c613.appspot.com",
                messagingSenderId: "953870110932",
                appId: "1:953870110932:web:cbd814e977ac1ee775ab41",
                };
                const app = initializeApp(firebaseConfig);
   
                import{getStorage,ref as sRef,uploadBytesResumable,getDownloadURL} from "https://www.gstatic.com/firebasejs/9.13.0/firebase-storage.js"
                import{getFirestore,doc,getDoc,setDoc,collection,addDoc} from "https://www.gstatic.com/firebasejs/9.13.0/firebase-firestore.js";
                import{getDocs,onSnapshot} from "https://www.gstatic.com/firebasejs/9.13.0/firebase-firestore.js";

                const clouddb = getFirestore();

                var files =[];
                var reader = new FileReader();
                var namebox = document.getElementById('namebox');
                var extlab = document.getElementById('extlab');
               var myimg = document.getElementById('myimg');
               var proglab = document.getElementById('upprogress');
               var selbtn = document.getElementById('selbtn');
               var upbtn = document.getElementById('upbtn');
               var downbtn = document.getElementById('downbtn');

               var input = document.createElement('input');
               input.type = 'file';

               input.onchange = e =>{
                files = e.target.files;

                var extension = GetFileExt(files[0]);
                var name = GetFileName(files[0]);
                namebox.value = name;
                //extlab.innerHTML = extension;
                reader.readAsDataURL(files[0]);

               }

               reader.onload = function(){
                myimg.src = reader.result;

               }

               selbtn.onclick = function(){
                input.click();
               }

               function GetFileExt(file){
                var temp = file.name.split('.');
                var ext = temp.slice((temp.length-1),(temp.length));
                return '.'+ext[0];
               }

               function GetFileName(file)
               {
                var temp = file.name.split('.');
                var fname = temp.slice(0,-1).join('.');
                return fname;
               }

               //--------------------------Upload Process---------------------------------------------------------

               async function UploadProcess(){
                var ImgToUpload = files[0];
                 var ImgName = namebox.value + extlab.innerHTML;
                const metaData = {
                    contentType: ImgToUpload.type
                }
                const storage = getStorage();
                const facid1='<%-facid%>';
                const storageRef = sRef(storage,facid1+"/"+ImgName);
                const UploadTask = uploadBytesResumable(storageRef,ImgToUpload,metaData);
                UploadTask.on('state-changed',(snapshot)=>{
                    var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                    proglab.innerHTML = "Uploaded  " + progress +"%";
                    if(progress == 100){
                        alert("Uploaded sucessfully");
                    }
                },
                (error) =>{
                    console.log(error);
                    alert("error: image not uploaded!")
                },
                () =>{
                    getDownloadURL(UploadTask.snapshot.ref).then((downloadURL) =>{
                        SaveURLtoFiresStore(downloadURL);
                    });
                }
                );
               }
              

            // -------------------------Firestore-----------------------------
            const facid='<%-facid%>';
            const cid = document.getElementById('cid').value;
            const cname = document.getElementById('cname').value;
            async function SaveURLtoFiresStore(url){
                var name = namebox.value;
                var ext = extlab.innerHTML;
                const cname = document.getElementById('cname').value;
                const cinst = document.getElementById('cinst').value;
                const start = document.getElementById('start').value;
                const end = document.getElementById('end').value;
                const cid = document.getElementById('cid').value;
                const curl = document.getElementById('curl').value;
                const descr = document.getElementById('descr').value;
                const event = document.getElementById('event').value;
                var ref = doc(clouddb,"Faculty/"+facid+"/certificates/"+cid);
                // var ref =clouddb.collection("Students").doc(regdno).collection("certificates").doc(cid);

                 setDoc(ref,{
                    Certificate_Name:cname,
                    Institution:cinst,
                    Event:event,
                    Start_Date:start,
                    End_Date:end,
                    Certificate_ID:cid,
                    Certificate_URL:curl,
                    Description:descr,
                    //ImgName:(name+ext),
                    ImageURL:url
                });
             }


             upbtn.onclick = UploadProcess;
             //downbtn.onclick = GetImagefromFirestore;
             
             //filling the table------------------------------------
             var sno = 0;
             var tbody = document.getElementById("tbody1");
             function AddItemToTable(cname1,curl1,cid1,start,end,event,inst,des){
             let trow = document.createElement("tr");
             let td1 = document.createElement("td");
             let td2 = document.createElement("td");
             let td3 = document.createElement("td");
             let td4 = document.createElement("td");
             var image = document.createElement("img");
             image.height = 50;
             image.width = 50;

             image.src = curl1;
                td1.innerHTML = ++sno;
                td2.innerHTML = "<b>Certificate Name:</b>"+cname1 +"<br><b>Certificate ID:</b>" +cid1+"<br><b>Start Date:</b>"+start+"<br><b>End Date:</b>"+end+"<br><b>Institution:</b>"+inst+"<br><b>Event:</b>"+event;
                td3.innerHTML=des;
                td4.appendChild(image);
            var btn = document.createElement("BUTTON");
            var link = document.createElement("A");
            var text = document.createTextNode("View");
            btn.setAttribute("class",'btn btn-primary btn-sm');
           link.setAttribute("href",curl1);
           var break1 = document.createElement("br");
           var break2 = document.createElement("br");
            link.appendChild(text);
            btn.appendChild(link);
            btn.style.display = "block";
            btn.style.margin = "0 auto";
             td4.appendChild(break1);
            td4.appendChild(break2);
            td4.appendChild(btn);
                trow.appendChild(td1);
                trow.appendChild(td2);
                trow.appendChild(td3);
                trow.appendChild(td4);
                tbody.appendChild(trow);

             } 
             function AddAllItemsToTable(TheFaculty){
                sno = 0;
                tbody.innerHTML = "";
                TheFaculty.forEach(element =>{
                    AddItemToTable(element.Certificate_Name,element.ImageURL,element.Certificate_ID,element.Start_Date,element.End_Date,element.Event,element.Institution,element.Description);
                });

             }


             //get all data 
             async function GetAllDataOnce(){
                const querySnapshot = await getDocs(collection(clouddb,'Faculty/'+facid+'/certificates/'));
                var faculty = [];
                querySnapshot.forEach(doc =>{
                    faculty.push(doc.data());
                });

                AddAllItemsToTable(faculty);
             }

             window.onload = GetAllDataOnce;
</script>
</body>
</html>